@use "./../abstracts/variables" as *;

header{
    background-color: $primary;
    padding-bottom: 50px;
    position: relative;

    .wrapper{
        display: flex;
        flex-wrap: wrap;

        h1{
            width: calc(50% - 15px);
            align-self: center;
            margin-right: 30px;
        }

        .img-container{
            width: calc(50% - 15px);
        }
    }

    .socials{
        position: absolute;
        bottom: 10px;
        right: 30px;
    }

    @media (max-width: 480px) {

        .wrapper{
            flex-direction: column;
        }
    }
}

