@use "./../abstracts/variables" as *;

section{
    padding: 120px 0;
    @media (max-width: 480px){
        padding: 60px 0;
    }
}

.about{
    background-color: $secondary;
    
    .wrapper{
        display: flex;
        align-items: center;

        .about-box1{
            flex-basis: 25%;
            height: calc(90vw * .25);
            max-height: calc(1080px * .25);

            img{
                object-fit: none;
                object-position: 25% 20%;
            }
        }

        .about-box2{
            flex-basis: 75%;
            padding-left: 30px;
        }
        @media (max-width: 480px) {
            flex-direction: column;
            .about-box1,
            .about-box2{
                flex-basis: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            .about-box2{
                padding: 0;
            }
            
        }
    
    }
}

.gallery{
    background-color: $primary;

    h2{
        text-align: center;
        margin: 0;
    }

    ul{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;

        li{            
            flex-basis: 32%;
        }
    }

    @media (max-width: 480px){
        ul{
            padding: 50px 0 0 0;
            
            li {
                    flex-basis: 49%;
                }
        }

        li:nth-child(2) {
            display: none;
        }

        li:nth-child(1) {
            order: -1;
        }
    }
}

.info{
    background-color: $secondary;
    padding-top: 60px;
 
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        li{
            flex-basis: 33%;
            text-align: center;  
            height: 170px;
        }

        a{
            display: flex;
            flex-direction: column;
            height: 100%;
            flex-basis: 100%;

            img{
                object-fit: contain;
                padding: 25px;
            }
        }
        
         
    }

    @media (max-width: 480px) {
        ul {
            flex-direction: column;
            align-items: center;
        }

        li{
            margin: 20px 0;
        }
    }

       
}

.blog{
    background-color: $primary;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    div{
        flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .blog-box1,
    .blog-box3{
        padding: 95px;
    }

    
    .blog-box3{
        order: 1;
    }
    
    @media (max-width: 480px) {
        flex-direction: column;
        
        div{
            flex-basis: 100%;
            order: 0;
            justify-content: center;
        }

        .blog-box1,
        .blog-box3{
            padding: 25px;
        }

        .blog-box2 {
            order: -1;
        }
    }
}

