@use "./../abstracts/variables" as *;

section{
    padding: 120px 0;
}

.about{
    background-color: $secondary;
    
    .wrapper{
        display: flex;
        align-items: center;

        .about-box1{
            flex-basis: 25%;
            height: calc(90vw * .25);
            max-height: calc(1080px * .25);

            img{
                object-fit: none;
                object-position: 25% 20%;
            }
        }

        .about-box2{
            width: 75%;
            padding-left: 30px;
        }
    }
}

.gallery{
    background-color: $primary;

    h2{
        text-align: center;
        margin: 0;
    }

    ul{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;

        li{            
            width: 32%;
        }
    }
}

.info{
    background-color: $secondary;
    padding-top: 60px;
 
    ul{
        display: flex;
        justify-content: space-between;

        li{
            width: 30%;
            text-align: center;   
            height: 100px;
            
        }

        
        img{
            object-fit: contain;
            padding: 10px;
            margin-bottom: 10px;
        }
        
    }

}

.blog{
    background-color: $primary;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    div{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .blog-box1,
    .blog-box3{
        padding: 95px;
    }

    
    .blog-box3{
        order: 1;
    }
}