@use "./../abstracts/variables" as *;

.about{
    background-color: $secondary;
    display: flex;
}

.gallery{
    background-color: $primary;
}

.info{
    background-color: $secondary;
}

.blog{
    background-color: $primary;
}