@use "./../abstracts/variables" as *;

header nav{
    padding: 0;
    width: 100%;

    label{
        display: none;
    }

    li {
            display: inline-block;
            margin-right: 50px;
        }
}

@media (max-width: 480px) {
    header nav{
        position: fixed;
        background-color: $primary;
        width: 71.5px;
        height: 71.5px;
        right: 0;
        
        ul {
            display: none;
            padding: 0;
            margin: 0;
        }

        li{
            margin: 0;
            padding: 0 20px;
        }
        
        label{
            display: inline-block;
            cursor: pointer;
        }
        input{
            position: absolute;
            left: -100vw;
        }
    }

    
    nav input:checked ~ ul{
            display: inline-block;
            background-color: $primary;
            position: relative;
            right: 40px;
            text-align: right;
    }

}