@use "./../abstracts/variables" as *;
@use "./../abstracts/mixins" as *;

html {
    @include fontStyle($baseFont, 20px, null, 29px);
    letter-spacing: 0.2px;
    color: #ffffff;
    font-weight: 400;
}

p,
label{
    font-weight: 300;
}

h1 {
    @include fontStyle($headerFont, 90px, right, 94.3px);

    @media (max-width: $mobile) {
        font-size: 60px;
    }
}

h2{
    @include fontStyle($headerFont, 54px, null, null);

    @media (max-width: $mobile) {
            font-size: 40px;
    }
}

h3{
    @include fontStyle($headerFont, 45px, right, null);
}

a{
    text-decoration: none;
    color: #ffffff;
}

.button{
    @include fontStyle($headerFont, 25px, center, null);
}

.info a {
    @include fontStyle($headerFont, 35px, center, null);
}

footer li a{
    @include fontStyle($baseFont, 20px, null, 29px);
}