@use "./../abstracts/variables" as *;

html {
    font-family: $baseFont;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #ffffff;
}

h1 {
    font-family: $headerFont;
    font-size: 90px;
    line-height: 94.3px;
    text-align: right;
}

h2{
    font-family: $headerFont;
    font-size: 54px;
}

h3{
    font-family: $headerFont;
    font-size: 45px;
    text-align: right;
}

.button{
    font-family: $headerFont;
    font-size: 25px;
    text-align: center;
}

footer li a{
    font-family: $baseFont;
    font-size: 20px;
    line-height: 29px;
}